<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TestConnectionSting" connectionString="Data Source=TOKA-ELDEEB\TELDEEB;Initial Catalog=ChemiClean;Integrated Security = SSPI;Persist Security Info = True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>